*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainArticlePhoto
{
    width: 25rem;
    height: 20rem;
    border-radius: 25px;
}
.label
{
    background-color: white;
    border-radius: 25px;
    box-shadow:0px 3px 10px -5px rgba(0,0,0,0.75);
    width:fit-content;
    padding: 10px;
    font-weight: 600 !important;
}
.clockIcon
{
    color:var(--primaryColor);
    font-size:20px;
}
.learnMoreBtn
{
    background-color: transparent;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    border-radius: 20px;
    width: fit-content;
}
.learnMoreBtn:hover
{
    background-color: var(--primaryColor);
    color: white;
    border: none;
}