* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.guideDescription {
    font-size: 1.25em;
}

.video {
    width: 100%;
    height: auto; 
    border-radius: 30px;
}



.playButtonContainer {
    position: absolute;
    margin: auto;
    background-color: rgba(91, 59, 255,0.5); 
    border-radius: 50%;
    padding: 20px;
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotatePlayButton;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.playButton {
    font-size: 3vw;
    color: #FFF;
    line-height: 1;
    opacity: 1;
    cursor:pointer !important;
    z-index: 1;
}
.playButton:hover
{
    color: #FFF;
}
@keyframes rotatePlayButton {
    0%
    {
        border-radius: 0%;
    }
    50%{
        border-radius: 50%;
    }
    100%
    {
    border-radius: 0%;
    }

}
.stepsContainer
{
    box-shadow:0px 3px 10px -4px rgba(0,0,0,1);
    border-radius: 25px;
}
.stepText
{
    
   color: var(--primaryColor) !important;
   font-size: 1.25em;
   font-weight: 600;
}
.stepTextContainer
{
    width: 8em;
    height: 3em;
    background-color: rgba(91, 59, 255,0.2);
    padding:10px !important;
    border-radius: 25px;
    
}

.MuiStepLabel-iconContainer
{
    display: none !important;
}
.stepContent
{
    font-size: 1.1em;
}
.stepButton
{
    border: none;
    border-radius: 25px;
}
