*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.slick-slide {
    margin-right: 10px;
    width: 14rem !important;
}

.slider{
    height: 18rem !important;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}
.serviceCardFooter
{
    background-color: rgba(0, 0, 0,0.6);
    position: absolute;
    width: 100%;
    top: 13rem;
    color: #fff;
    font-weight: 500;
    border-radius: 15px !important;
}