@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.selected {
    background-color: var(--primaryColor) !important; /* Define this variable or replace with a specific color */
    border: none !important;
    color: #fff !important; /* Text color for selected state */
}

.notSelected {
    border: 1px solid var(--primaryColor) !important; /* Define this variable or replace with a specific color */
    color: var(--primaryColor) !important; /* Text color for not selected state */
    background-color: #fff !important;
}

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    background-color: #ffffff; 
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2); 
    padding: 16px; 
    border-radius: 15px;
}
.emailIcon
{
background-color: var(--primaryColor);
color: #fff;
font-size: 1rem !important;
}
.continueVia
{
    background-color: var(--primaryColor);
    color: #fff;

}
.continueVia:hover
{
    background-color: var(--primaryColor);
    color: #fff;
    
}