.btn-danger{
    color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    color: var(--primaryColor);
    border-color: var(--primaryColor);
    background-color: rgba(0,0,0,.0);
}

.btn-fill{
    color: #FFFFFF;
    opacity: 1;
}
.btn-fill:hover, .btn-fill:active, .btn-fill:focus{
    color: #FFFFFF;
}
.btn-default.btn-fill{
    background-color: #999999;
    border-color: #999999
}
.btn-primary.btn-fill{
    background-color: #3472F7;
    border-color: #3472F7;
}
.btn-info.btn-fill{
    background-color: #2C93FF;
    border-color: #2C93FF;
}
.btn-success.btn-fill{
    background-color: #05AE0E;
    border-color: #05AE0E;
}
.btn-warning.btn-fill{
   background-color: #FF9500;
   border-color: #FF9500;
}
.btn-danger.btn-fill{
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.btn-default.btn-fill:hover, .btn-default.btn-fill:focus, .btn-default.btn-fill:active, .btn-default.btn-fill.active, .open .dropdown-toggle.btn-fill.btn-default {
    background-color: #888888;
    border-color: #888888;
}
.btn-primary.btn-fill:hover, .btn-primary.btn-fill:focus, .btn-primary.btn-fill:active, .btn-primary.btn-fill.active, .open .dropdown-toggle.btn-primary.btn-fill{
    border-color: #1D62F0;
    background-color: #1D62F0;
}
.btn-info.btn-fill:hover, .btn-info.btn-fill:focus, .btn-info.btn-fill:active, .btn-info.btn-fill.active, .open .dropdown-toggle.btn-info.btn-fill {
    background-color: #1084FF;
    border-color: #1084FF;
}
.btn-success.btn-fill:hover, .btn-success.btn-fill:focus, .btn-success.btn-fill:active, .btn-success.btn-fill.active, .open .dropdown-toggle.btn-fill.btn-success {
    background-color: #049F0C;
    border-color: #049F0C;
}
.btn-warning.btn-fill:hover, .btn-warning.btn-fill:focus, .btn-warning.btn-fill:active, .btn-warning.btn-fill.active, .open .dropdown-toggle.btn-fill.btn-warning {
    background-color: #ED8D00;
    border-color: #ED8D00;
}
.btn-danger.btn-fill:hover, .btn-danger.btn-fill:focus, .btn-danger.btn-fill:active, .btn-danger.btn-fill.active, .open .dropdown-toggle.btn-danger.btn-fill {
    background-color: var(--primaryColor);
    border-color: var(--primaryColor);
}
.btn-simple{
    font-weight: 600;
    border: 0;
    padding: 10px 18px;
}
.btn-simple.btn-xs{
    padding: 3px 5px;
}
.btn-simple.btn-sm{
    padding: 7px 10px;
}
.btn-simple.btn-lg{
   padding: 16px 60px;
}
.btn-round.btn-xs{
    padding: 2px 5px;
}
.btn-round.btn-sm{
    padding: 6px 10px;
}
.btn-round.btn-lg{
    padding: 15px 60px;
}
.main{
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
#cover {
    position: fixed;
    opacity: 1;
    background-color: rgba(0,0,0,.6);
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}



.main .logo{
    color: #FFFFFF;
    font-size: 1.25rem !important;
    font-weight: 300;
    position: relative;
    text-align: center;
    margin-top: 150px;
    z-index: 3;
}
.main .logo.cursive{
    font-family: 'Grand Hotel',cursive;
    font-size: 2rem !important;
    
}
.main .content{
    position: relative;
    z-index: 4;
}
.main .motto{
    min-height: 140px;
}
.main .motto, .main .subscribe .info-text{
    font-size: 28px;
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
    text-align: center;
    
}
.login
{
    border: 1px solid white !important;
    color: white !important;
    background-color: transparent !important;
}